/*This is the CSS page for our final template.*/

body {
	font-family:'Poppins', serif;
	font-size: 17px;
}

.caption p{
	font-size: 15px;
	text-align: center;
}

p{
	font-family:'Poppins', serif;
	font-size: 20px;


}

.image-row {
  display: flex;
  justify-content: center; 
  gap: 20px;            
}
}


.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #ccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
	font-family: 'Poppins', serif;
	color:#4E5340;
	background-color: #B7D1DA;
	margin-left: 8px;
	margin-right: 8px;

	
}
h4 {
	font-size: 25px;
	font-family: 'Poppins', serif;
}
h3 {
	font-size: 30px;
}


/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}